.image{
    width: 250px;
    height: 200px;
}
.card{
    height: 22.5rem;
}
h5{
    padding: 2px;
}
button{
    position: absolute;
    bottom: 2%;
    left: 40%;
}
.card:hover{
    
    transform: scale(1.05);
    z-index: 2;
}